/* Global Styles
------------------------------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    background-color: #25283D;
    color: #eef7ff;
    text-align: left;
    padding-bottom: .25em;
}

a {
    color: #eef7ff;
}

a:hover {
    text-decoration: none;
}

img { 
    max-width: 300px;
} 

h1{
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
    font-size: 4em;
    padding-left: .5em;
}

h2 {
    padding-left: 1.75em;
    padding-top: .5em;
}
h3 {
    padding-left: 2em;
}
body {
    color: #191716;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
    font-size: .9em;
    line-height: 1.5;
}




/* Navigation Bar
-------------------------- */
nav {
    background-color: #ffb6ff;
}

/* location of nav bar and gets rid of bullets */
nav ul {
    text-align: left;
    list-style: none;
}

/* how the nav items appear */
nav ul li {
    display: inline-block;
    font-weight: bolder;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
}

/* how nav items look when hovered over */
nav ul li:hover {
    background-color: #eef7ff;
}

/* submenu display settings */
nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: -10000px;
    width: 150px;
}

/* submenu items */
nav ul li ul li {
    background-color: #CAE5FF;
    display: block;
}

/* submenu items when they're hovered over */
nav ul li ul li:hover {
    background-color: plum;
}

/* submenu when hovered */
nav li:hover ul {
    display: block;
    left: 0px;
}

/* Portfolio Items
------------------------- */

.portfolio {
    background-color: #CAE5FF;
    padding: 1em;
}

.portfolio-item {
    border-bottom: 3px solid white;
    padding-bottom: 1em;
}
figcaption {
    padding-top: 1em;
}
/* Aside info ------------------*/
.more {
    background-color: #ffb6ff;
    padding: .5em 1em 1em 1em;
}




/* *Contact Info 
--------------------------*/
footer {
    background-color: #25283D;
    color: #eef7ff;
    text-align: left;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}
/* Site width */
.site {
    max-width: 630px;
}
/* Grid: medium size
---------------------------- */
@supports (grid-area: auto) {
    @media screen and (min-width: 631px){
        img {
            max-width: 200px;
        }
        .site {
            display: grid;
            grid-template-columns: 20em 22em;
            grid-template-rows: repeat(3, auto) 30em 12em repeat (4, auto);
            gap: .5em;
            max-width: none;
            padding: none;
        }
        .nav-bar {
            grid-column: span 3;
        }
        .masthead {
            grid-column: span 3;
        }
        #boxer {
            grid-column: 2/4;
        }
        #hockney {
            grid-column: 2/4;
        }
        #claus {
            grid-column: 1/2;
        }
        #castile {
            grid-column: 1/2;
        }
        #self-portrait {
            grid-column: 2/4;
        }
        footer {
            grid-column: 2/4;
        }
        .more {
            grid-column: 1/2;
        }
        .portfolio-item {
            border-bottom: none;
        }
    }
    /* Grid: large size
    --------------------------- */
    @media screen and (min-width: 960px) {
        .site {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr;
            grid-template-rows: repeat(3, auto) 30em 12em auto;
            gap: 1em 1em;
            max-width: none;
            padding: none;
        }
        .portfolio-item {
            border-bottom: none;
        }
        .nav-bar {
            grid-column: 1/4;
        }
        .masthead {
            grid-column: 1/4;
        }
        
        #car {
            grid-column: 1/4;
            grid-row: 3/4;
        }
        #car img {
            max-width: 600px;
        }
        #boxer {
            grid-row: 4/5;
        }
        #claus {
            grid-row: 4/6;
        }
        #hockney {
            grid-row: 4/6;
        }
        #castile {
            grid-row: 6/7;
        }
        #self-portrait {
            grid-column: 2/3;
        }
        .contact-list {
            display: flex;
            flex-direction: column;
            padding-left: 2em;
        }
        footer {
            grid-column: 3/4;
        }
        .more {
            grid-column: 2/4;
            grid-row: 5/6;
        }
    }
}